.cabeceraConsulta{
	background: rgba(21,47,74,.9);
	color: white;
}
/*
#contentConsulta tr:hover{
	background: #FFEC33;
}
*/

button.dt-button,
div.dt-button,
a.dt-button {
  width: 90px;
  margin-bottom: 15px;
  background: rgba(21,47,74,.9);
  color: white;
}