.cabeceraTablaVictimas{
  background: #152f4ae6;
  color: white;
}

.cursorp{
  cursor: pointer !important;
}

.fontBold{
  color: black;
  font-weight:bold;
}

#infoGeneralMedida{
  overflow: scroll;
}

#resolucion{ display: none; }
#victima{ display: none; }
#imputados{ display: none; }
#constanciaLlamadas{ display: none; }
#fracciones{ display: none; }
#seguimientoMedidas{ display:none; }

.tabcontent{
  padding: 5px;
}

#agentesMP_id_div{
  border-radius: 6px;
}

#idDelito_div{
  border-radius: 6px;
}

#idFiscaliaProc_div{
  border-radius: 6px;
}


.orangecol{  background-color: #eea236; }
.verdCol{  background-color: #8cb887; }
.yelloCol{  background-color: #efce0a; }
.redCol{  background-color: rgba(240,89,91,0.9); }

#circulo{

       margin: 0 auto;
       width: 25px;
       height: 25px;
       -moz-border-radius: 70px;
       -webkit-border-radius: 70px;
       border-radius: 70px;

       border: solid 4px white;

       -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.3);
       -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.3);
       box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.3);
    }

.btn-elegante {
    background: linear-gradient(to left, #152f4a, #152f4a);
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgb(255, 255, 255);
}

.btn-elegante:disabled {
  background: linear-gradient(to left, #152f4a, #152f4a);
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-weight: bold;
  opacity: 0.9;
  cursor: not-allowed;
}

  /* background: linear-gradient(to left, #007bff, #ff0000);
  box-shadow: 0 6px 10px rgb(255, 255, 255);
  color: #ffffff;
  font-weight: bold;   */

.btn-elegante:hover {
    background: linear-gradient(to left, #152f4a, #000000);
    box-shadow: 0 6px 10px rgb(255, 255, 255);
    color: #ffffff;
    font-weight: bold;
}

.btn-elegante:focus,
.btn-elegante:active {
    outline: none;
    box-shadow: 0 0 0 3px rgb(255, 255, 255);
    color: #ffffff;
}

.button-group {
  display: flex;
  gap: 15px;
}

.btn-spacing {
  margin-left: 10px;
} 